* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8;
}

code {
  font-family: Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 10px;
  background-color: rgb(240,240,240);
}

.navlink {
  padding: 9px 25px;
  background-color: rgb(240,240,240);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.navlink:hover {
  background-color: rgb(230,230,230);
}

.navlink:active {
  background-color: rgb(230,230,230);
}

.container {
  max-width: 800px;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  padding: 10px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}