* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8;
}

code {
  font-family: Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 10px;
  background-color: rgb(240,240,240);
}

.navlink {
  padding: 9px 25px;
  background-color: rgb(240,240,240);
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.navlink:hover {
  background-color: rgb(230,230,230);
}

.navlink:active {
  background-color: rgb(230,230,230);
}

.like-button {
  width: 80px;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: white;
  transition-duration: 0.4s;
}

.like-button:hover {
  background-color: #E8E8E8;
  cursor: pointer;
}

.share-link {
  border: none;
  background-color: transparent;
  justify-self: end;
  cursor: pointer;
  margin-left: auto;
}

.tooltip {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.main-column {
  max-width: 500px;
  margin: auto;
  overflow: auto;
  min-height: 300px;
  padding: 10px;
}

.post-cell {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px auto;
}

.post-img {
  width: 100%;
}

.post-content {
  padding: 10px;
}

.post-explanation {
  font-size: 15px;
}

.post-explanation-preview {
  font-size: 15px;
  height: 95px;
  overflow: hidden;  
}

.post-explanation-expand {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: rgb(240,240,240);
  cursor: pointer;
}

.like-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}